@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: rgba(255, 242, 242, 1);
    color: rgba(71, 21, 21, 1);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}